<app-header></app-header>

<h1 [ngClass]="getTitleClass()">{{ title }}</h1>

<a routerLink="/home-component" routerLinkActive="active" ariaCurrentWhenActive="page"
    class="nav-link">Home</a>

<a routerLink="/customers-component" routerLinkActive="active" ariaCurrentWhenActive="page"
    class="nav-link">Customers</a>



<div>
    <div *ngFor="let label of labels">
        <app-button [label]="label"></app-button>
    </div>
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>

<app-footer></app-footer>